 ul{    
            display:flex;
            list-style: none;
            gap: 50px;
            padding: 0;
            justify-content: center;
 }

.body-1{
    background-color: #02182B;
}

.tituloh1{
    color:white;
    text-align: center;
    padding-top: 10px;
    
}

.bloco-formulario-tarefa{
    background-color: white;
    width: 700px;
    height: 680px;
    margin: 30px auto;
    border-radius: 20px;
}

img{
    padding: 5px;
    
    width: 210px;
}

.bloco-formulario-projeto{
    background-color: white;
    width: 700px;
    height: 530px;
    margin: 30px auto;
    border-radius: 20px;
}

.bloco-formulario-usuario{
    background-color: white;
    width: 700px;
    height: 680px;
    margin: 30px auto;
    border-radius: 20px;
}

nav{
    a{
        color:rgb(43, 42, 42);
        text-decoration: none;
        font-size: 17px;
        
        

        &:hover {
            color:#7a9d7a;
            border-bottom: 1px solid;
        }
    }
}

.naruto{
    width: 80px;
    height: 80px;
    border-radius:50%;
}


.dashboard-projetos{
    background-color: #02182B;
    padding: 15px;
    color: white;
    height: 60px;
}

.card{
 width: 450px;
 height: 180px;
 border-radius: 10px;
 margin-top:22px;
 margin-left: 7px;

}

.card-conteudo{
    display: grid;
    justify-items: center;
    padding-top:20px;
    color: white;
    i{
    font-size: 40px;
            }
          
}


.borda-chart-media{

    background-color: #02182B;
    color: white;
    padding: 4px;
    margin: 20px;
     margin-left: 7px;

    border-radius: 5px;
    p{
       padding-top: 9px;      
        padding-left: 6px; 
    }
}

.borda-chart{
    background-color: #02182B;
    color: white;
    padding: 4px;
    margin: 20px;
     margin-left: 7px;

    border-radius: 5px;
    p{
        padding-top: 9px;      
        padding-left: 6px;  
    }
}