 ul{    
            display:flex;
            list-style: none;
            gap: 50px;
            padding: 0;
            justify-content: center;
 }

body{
    background-color: #02182B;
}

.tituloh1{
    color:white;
    text-align: center;
    padding-top: 10px;
    
}

.bloco-formulario-tarefa{
    background-color: white;
    width: 700px;
    height: 680px;
    margin: 30px auto;
    border-radius: 20px;
}

img{
    padding: 5px;
    
    width: 210px;
}

.bloco-formulario-projeto{
    background-color: white;
    width: 700px;
    height: 530px;
    margin: 30px auto;
    border-radius: 20px;
}

.bloco-formulario-usuario{
    background-color: white;
    width: 700px;
    height: 680px;
    margin: 30px auto;
    border-radius: 20px;
}

nav{
    a{
        color:rgb(43, 42, 42);
        text-decoration: none;
        font-size: 17px;
        
        

        &:hover {
            color:#7a9d7a;
            border-bottom: 1px solid;
        }
    }
}

.naruto{
    width: 80px;
    height: 80px;
    border-radius:50%;
}

